@import "../../Styles/partials/typography";
@import "../../Styles/partials/mixins";

.homepage {
    background: rgb(56,102,65, .75);
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    &__signup-btn {
      @include button-style;
      margin: 2rem;
      &:hover {
        border-color: #bc4749;
        color: #bc4749;
        
      }
    }
    &__login-btn {
      @include button-style;
      margin: 2rem;
      &:hover {
        border-color: #bc4749;
        color: #bc4749;
        


      }
    }
}
.carousel {
    width: 40%;
    height: 40%;
}