@import "../../Styles/partials/typography";

@mixin resets {
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

  html,
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@mixin button-style {
  font-family: "Oswald";
  height: 3rem;
  width: 8rem;
  background-color: whitesmoke;
  border: 1px solid rgb(56, 102, 65);
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.2);
  border-radius: 3px;
  color: rgb(56, 102, 65);
}

@mixin input-style {
  background-color: whitesmoke;
  border-radius: 3px;
  border: 1px solid #386641;
  height: 2rem;
  padding: 0.5rem;
}

@mixin label-style {
  font-family: "Oswald";
  font-size: 1.5rem;
  color: #386641;
  margin: 1rem;
}
