@import "../../Styles/partials/typography";
@import "../../Styles/partials/mixins";
@import "../../Styles/partials/variables";

.donations {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbd8b3;
  height: 100%;
}
.donations-page {
  @include resets;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary_green;
  height: 100vh;
}
.donations-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Oswald";
  background-color: $primary_green;
  color: $primary-black-chocolate;
  height: 100%;
  padding-bottom: 2rem;
  &__title {
    font-family: "Oswald";
    color: $primary-black-chocolate;
  }
}
.donations-form {
  display: flex;
  font-family: "Oswald";
  justify-content: space-around;
  background-color: whitesmoke;
  height: 3rem;
  border: 2px solid $primary_red;
  margin-bottom: 1rem;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.2);
  border-radius: 3px;
  &__title {
    font-family: "Oswald";
  }
  &__hidden {
    display: none;
  }
  &__input {
    color: $secondary-green;

    border: none;
    background-color: whitesmoke;
    font-family: "Oswald";
    font-size: 1.25rem;
    width: auto;
  }
  &__btn {
    @include button-style;
  }
}
.donation {
  @include resets;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary_green;
  height: 100vh;
  &-tablebox {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 20%);
    border: rgb(0 0 0 / 20%);
    border-radius: 5px;
  }
  &-table {
    table-layout: auto;
    width: 75vw;
    background-color: whitesmoke;

    &__row {
    //   width: 75px;
      color: $primary-black-chocolate;
    }
    &__item {
      padding: 0.5rem 0;
    }
  }
}

.donation-box {
  height: 100%;
  padding-bottom: 2rem;
  width: auto;
  &__title {
    color: $primary-black-chocolate;
  }
}
