@import "../../Styles/partials/typography";
@import "../../Styles/partials/mixins";
@import "../../Styles/partials/variables";


.donation-innerbox {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Oswald";
    background-color: $primary_green 50%;
    color: $primary_white;
    width: 75%;
    // height: 100vh;
    &__tableheads {
      display: flex;
      justify-content: space-around;
      width: 128%;
      margin-bottom: 1rem;
      &--titles {
          color: $primary-black-chocolate;
        width: 8rem;
      }
      &--icon {
        color: $primary-black-chocolate;
        display: flex;
        align-items: center;
      }
    }
}