@import "../../Styles/partials/typography";
@import "../../Styles/partials/mixins";
@import "../../Styles/partials/variables";

@include resets;

.header {
  font-family: "Oswald";
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 6rem;
  font-size: 1.5rem;
  border-bottom: 2px solid $primary_red;
  padding-left: 2rem;
  &__home {
    margin-right: 2rem;
  }
  &__title {
    color: $primary-black-chocolate;
    font-size: 1.5rem;
  }
}
.header__bars {
  margin-left: 4rem;
  font-size: 2rem;
  background: none;
}
.header__bars.hidden {
  display: none;
}
.nav-menu {
  background-color: white;
  width: 150px;
  height: 50vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  right: -100%;
  &__items {
    display: flex;
    width: 100%;
    padding: 0;
    &--toggle {
      background-color: white;
      width: 100%;
      height: 4rem;
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }
    &--bars {
      margin-left: 4rem;
      font-size: 2rem;
      background: none;
      margin-right: 4rem;
    }
    &--text {
      font-family: "Oswalk", sans-serif;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 0.5rem 0rem 0.5rem 3.25rem;
      list-style: none;
      height: 4rem;
    }
  }
}
.nav-menu.active {
  right: 450px;
  transition: 100ms;
  height: 0;
}
.nav-text {
  font-family: "Oswalk", sans-serif;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0rem 0.5rem 1rem;
  list-style: none;
  height: 4rem;
}

.nav-text a {
  text-decoration: none;
  color: $primary_red;
  font-size: 1.125rem;
  width: 95%;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  border-radius: 3px;
}

a {
  text-decoration: none;
  
  &:visited {
    color: $footer_yellow;
  }
  &:hover {
    color: #bc4749;
  }
}
