@import "../../Styles/partials/typography";
@import "../../Styles/partials/mixins";

.header {
  font-family: "Oswald";
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 6rem;
  font-size: 1.5rem;
  &__navlist {
    display: flex;
    flex-direction: row;

    &--link {
      list-style: none;
      color: rgb(56, 102, 65, 0.75);
      border-left: 2px solid rgb(56, 102, 65, 0.75);
      padding: 0rem 0.5rem 0rem 0.5rem;
      text-decoration: none;
      height: 2.5rem;
    }
  }
  &__home {
    margin: 1rem;
  }
}
a {
  text-decoration: none;
  &:visited {
    color: rgb(56, 102, 65, 0.75);
  }
  &:hover {
    color: #bc4749;
  }
}

// &:active {
// //   box-shadow: 2px 2px 5px white, -1px -1px 5px #64b5f6;
// }
// &:hover {
// //   box-shadow: 2px 2px 5px white, -1px -1px 5px #919a76;
// }
// }
