@import "../../Styles/partials/typography";
@import "../../Styles/partials/mixins";
@import "../../Styles/partials/variables";
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.donation-modal {
  width: 50vw;
  height: 75vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 15%;
  right: 25%;
  border-radius: 10px;

  &__title {
    font-family: "Oswald";
    color: $primary-red;
    font-size: 1.5rem;
    margin-left: 2rem;
  }
  &__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    &--select {
      @include input-style;
      margin: 0 2rem;
      height: 2rem;
      padding: 0;

    }
  
    &--label {
      @include label-style;
      margin: 1rem 0 1rem 2rem;
    }
    &--input {
      @include input-style;
      margin: 0 2rem;

    }
    &--btnbox {
      display: flex;
    justify-content: space-between;
    margin: 2rem;
    }
    &--button {
      @include button-style;
    }
    &--cancel {
      @include button-style;
      background-color: $primary-red;
    }
    &--error {
      color: $primary-red;
      font-size: .75rem;
      margin-left: 2rem;
    }
  }
  &__success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &--title {
      color: $primary-red;

    }
    &--btn {
      @include button-style;
      height: 2rem;
      width: 5.8rem;
      margin-top: 1rem;

    }
  }
}
