*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.donation-modal {
    width: 100vw;
    height: 100vh;
    background-color: rgba(219, 212, 212, 0.95);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    &__form {
        width: 50%;
        height: 50%;
        background-color: rgb(255, 255, 255);
        border-radius: 20px;
    }

}