@import "../../Styles/partials/typography";
@import "../../Styles/partials/mixins";
@import "../../Styles//partials/variables";

.donation {
  @include resets;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary_green;
}
.donation-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-family: "Oswald";
  background-color: $primary_green 50%;
  color: $primary_white;
  width: 75%;
  height: 100vh;

  &__btn {
    @include button-style;
    color: $primary-green;
    &:hover {
      background-color: $primary-green;
      color: whitesmoke;
    }
  }
  &__logoutbtn {
    @include button-style;
    color: whitesmoke;
    background-color: $primary_red;
    margin-left: 2rem;
    &:hover {
      background-color: whitesmoke;
      color: $primary_red;
    }
  }
  &__donationbtn {
    @include button-style;
    &:hover {
      background-color: $primary_green;
      color: whitesmoke;
    }
  }
  &__btnbox {
    display: flex;
    justify-content: flex-end;
    width: 75%;
  }
}

.rest-donation {
  display: flex;
  justify-content: space-around;
  background-color: whitesmoke;
  height: 3rem;
  border: 0.5px solid $primary_red;
  margin-bottom: 1rem;
  box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.2);
  border-radius: 3px;

  &__item {
    font-family: "Oswald", sans-serif;
    font-size: 1.25rem;
    border: none;
    background-color: whitesmoke;
    margin: 0.25rem 1rem;
    color: $secondary_green;

    width: auto;
    &--hidden {
      display: none;
    }
    &--delete {
      color: $primary_red;
      background-color: whitesmoke;
      border: none;
    }
    &--add {
      color: $primary_green;
      background-color: whitesmoke;
      border: none;
    }
  }
}
.login-portal {
  height: 75vh;
  width: 100vw;
  background-color: $primary-green;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bounce-in-top {
  font-family: "Oswald";
  -webkit-animation: bounce-in-top 1.1s both;
  animation: bounce-in-top 1.1s both;
}

@-webkit-keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes bounce-in-top {
  0% {
    -webkit-transform: translateY(-500px);
    transform: translateY(-500px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    -webkit-transform: translateY(-65px);
    transform: translateY(-65px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  72% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  81% {
    -webkit-transform: translateY(-28px);
    transform: translateY(-28px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  95% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
